<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.blogsv.ntsmxh">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <activity
            android:name="net.blogsv.ui.Activities.SlideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.PermissionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.UploadVideoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="net.blogsv.ui.Activities.LoginActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="net.blogsv.ui.Activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.blogsv.ui.Activities.SupportActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.PolicyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.LanguageActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name="net.blogsv.ui.Activities.AllCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.UserActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.EditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.blogsv.ui.Activities.WhatsAppActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service android:name="net.blogsv.services.FirebaseIDService" />
        <service android:name="net.blogsv.services.NotifFirebaseMessagingService" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>